/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Varela+Round");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Varela Round", "Helvetica", "sans-serif";



// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color:   #FFF100;

$red:           #EE5F5B;
$blue-darker:   #00719F;
$blue:          #61C8F2;
$white-blue:    #D8F4FF;
$contour-blue:  #B7EAFF;
$yellow:        #FFF100;
$orange:        #E67E22;
$green:         #32B796;

// Gray scale
$gray-darker:   #222;
$gray-dark:     #333;
$gray:          #555;
$gray-light:    #999;
$gray-lighter:  #eee;
