<div class="post-flykke-section">
  <%= link_to flykke_path(id: post.id), class: "post-btn-flykke btn-primary", :method => :put do %>
    <%= image_tag("logo-mini.png", :alt => "bird", :class => "logo-mini") %>
  <% end %>
  <% if post.get_likes(:vote_scope => 'flykke').size > 1 %>
    <h3 class="post-vote-count"><%= post.get_likes(:vote_scope => 'flykke').size %> flykkes </h3>
  <% else %>
   <h3 class="post-vote-count"><%= post.get_likes(:vote_scope => 'flykke').size %> flykke </h3>
  <% end %>
</div>

<div class="post-share">
  <h2 class="post-share-title">Share</h2>
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="#" class="share-link bg-text">
      <i class="fa fa-link"></i>
    </a>
  </div>
</div>







