<div id="links" class="well">
  <h5>
    <%= link_to 'NewsFeed', root_path %>
  </h5>
  <h5>
    <%= link_to 'Followers', followers_user_path(current_user) %>
  </h5>
  <h5>
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  </h5>
  <h5>
    <%= link_to 'Change password', edit_user_registration_path %>
  </h5>
</div>
