<!-- HOMEPAGE WHEN SIGNED IN -->

<div class="row">
  <div id="newsfeed" class="col-md-12 no-padding">
    <h1 class="text-center"> Welcome on Flykke! </h1>
    <%= render 'shared/categories/category_newsfeed', posts: @posts %>
  </div>
</div>

