#comment_title {
  margin-top: 0;
  margin-bottom: 0;
}

a{
    text-decoration: none;
  }

  button{
    outline: none;
    border: none;
  }

  .list-group-item p a {
    font-weight: 500;
    color: rgba(3, 161, 241, 1);
    text-decoration: underline!important;
  }

  .list-group-item p a:hover {
    font-weight: 500;
    color: rgba(3, 161, 241, 0.8);
    text-decoration: underline!important;
  }

  .card{
    border: none !important;
    background-color: #fff;
    overflow: hidden;

    padding: 0px;
    border-radius: 5px;
  }

  .paper {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }

  details{
    background-color: #f4f4f4;
  }
  summary{
    outline: 0;
    cursor: pointer;
    color: rgba(0,0,0,.8);
    font-size: 14px;
  }

  .title{
    display: inline-block;
    margin-left: 3em;
  }

  .title a {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: rgba(0,0,0,.8) ;
    text-decoration: none !important;
  }

  .title a:hover {
    color: rgba(0,0,0,.7);
  }

  .title time {
    font-size: 12px;
    color: rgba(0,0,0,.5)!important;
    font-weight: 400;
    margin-left: 6px;
  }

  .title p {
    margin-bottom: 0;
    white-space: normal;
    color: rgba(0,0,0,.8);
    font-size: 14px;
    margin-top: 0.215em;
  }

  .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
  }

  .circle img{
    width: 100%;
  }


  ul.actions {
    position: absolute;
    right: 1em;
    top: 1.2em;
    display: none;
    font-size: 12px;
  }

  ul.actions a{
    text-decoration:none !important;
    color: rgba(0,0,0, 0.6);
    font-size: 11px;
  }


  .list-group-item{
    background-color:transparent !important;
  }
  .list-group-item{
    border: none !important;
    border-radius: 0 !important;
  }
  .list-group-item:hover{
    background-color:rgba(0,0,0, 0.03) !important;
    border-radius: 0 !important;
  }


  .list-group .list-group-item ul.actions{
    display: none ;
  }

  .list-group .list-group-item:hover ul.actions{
    display:inherit;
    list-style: none;
  }


  summary::-webkit-details-marker {
  display: none;
  }

  summary::after {
    // content: "expand_more";
    font-family: 'Material Icons';
    color:rgba(0,0,0, 1);
    float: left;
    font-size: 1.5em;
    margin: 0px 10px 0 0;
    padding: 0;
    text-align: center;
    left: 4.5em; top: 0.455em;
    position: absolute;
  }

  details[open] summary:after {
    color:rgba(0,0,0, 1);
    // content: "expand_less";
    font-family: 'Material Icons';
  }

  // .delete::after{
  //   font-family: 'Material Icons';
  //   font-size:100%;
  //   vertical-align:bottom;

  // }

  .roff{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }


  #lastComment{
    background-color: #f4f4f4;
  }

  form{
    padding: 1em;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.1rem !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #55595c !important;
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ccc !important;
  }

  .form-control:focus{
    border-color: rgba(3, 161, 241, 1) !important;
  }
