.media {
  display: flex;
  border: $contour-blue 1px solid;
  padding: 0px;
  border-radius: 5px 5px 0px 0px;
  &-profile-picture {
     margin-left: auto;
    margin-right: auto;
  }
  &-link:hover {
    text-decoration: none;
  }
  &-img-user {
    margin: 0px;
  }
  &-body {
    background: white;
  }
  &-btn-delete {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $gray;
  }
  &-section {
    padding-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-main {
    flex: 1 1 auto;
    padding: 30px;
    img {
      width: 50%;
    }
  }
  &-aside {
    flex: 0 0 350px;
    padding: 30px;
    align-self: stretch;
    background: $white-blue;
    border-left: 1px solid $contour-blue;
  }
  h1, h2, h3, h4 {
    padding: 0px;
    margin: 0px;
    color: black;
  }

  h2 {
    padding: 5px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  h3 {
    padding: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }

  h4 {
    padding: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: $gray-light;
  }
}
