.title-pen {
  color: #657B90;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-info {
  margin: auto;
  margin-top: 90px;
  // margin-bottom: 20px;
  width: 400px;
  height: 370px;
  padding: 10px;
  background: $white-blue;
  position: relative;
  border-radius: 2%;
}

.user-info-nav {
  width: 100%;
  min-height: 50px;
  background: $white-blue;
  &-menu {
    padding-right: 300px;
  }
}

.edit-user-info {
    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 2;
    display: inline-block;
}

.avatar-info {
  position: absolute;
  bottom: -83px;
  left: 50px;
  z-index: 3;
  height: 180px;
  width: 180px;
  border-radius: 18em;
  border: $white-blue 2px solid;
}

.username-info {
  margin: auto;
  color: $white-blue;
  font-family: "Coda", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 248px;
}
.user-info  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-info > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-info > img.avatar {
  padding: .7em;
  // margin-left: .3em;
  // margin-top: .3em;
  height: 180px;
  width: 180px;
  border-radius: 18em;
}

.user-info ul.data-info {
  // margin: 2em auto;
  // height: 3.70em;
  background: #1B2A3D;
  text-align: center;
  padding: 0;
  // border-radius: 0 0 .3em .3em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 4%;
}
.user-info li {
  margin: 0 auto;
  padding-bottom: 8px;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  transition: color 0.5s ease;
  border: #172831 1px solid;
  border-radius: 4%;
}

.user-info li a {
  color : #657B90;
  transition: color 0.5s ease;
}

.user-info li a:hover {
    text-decoration: none;
    color: $yellow;
    // background: rgba(255,255,255,0.2);
}

.user-info span {
  font-family: "varela round", sans-serif;
  color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-info span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}
